

.swiper {
  width: 100%;
  height: 100%;
  position: absolute; 
}

.searchBoxDiv {
  position: absolute;
top:0;
width: 85%;
margin: 450px 200px 200px 200px ;

  left: 0;
  right: 0;
  z-index: 999; 
 
}

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
}

.title h2 {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  line-height: 40px;
  font-family: 'Montserrat', 'sans-serif';
}

.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 59%;
}

.btnExplore {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
 }
 
 .btnExplore:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btnExplore:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
.btnExplore::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  background-color: #fff;
}

.btnExplore:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}


@media only screen and (max-width: 768px) {
  .searchBoxDiv {
    margin: 20% 90% 10% 20%;
  }
}

@media only screen and (max-width: 576px) {
  .searchBoxDiv {
    margin: 5% 1%;
  }

  .title h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .btnExplore {
    font-size: 15px;
  }
}