/* Hide scrollbar for webkit-based browsers */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  /* Note: Firefox uses a different pseudo-element for the scrollbar */
  * {
    scrollbar-width: none;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  